span{
    color: red;
}
.shuvo{
    display: flex;
    margin-bottom:100px;
}
.ali{
    width: 50%;
    padding-left: 80px;
    padding-right: 40px;
}
.sobur{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,black);
    color: white;
    border-radius: 20px;
    font-weight: 200;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
.family{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}
.warina{
    height:500px;
    padding-left: 20px;
}